<div class="main">
  <div class="head" >
    <div class="sub-head">
      <div class="heading">
        <h2>CROMO Mobile Stores</h2>
        <em>home of all portable gadgets</em>
      </div>
      <br>
      <div class="content">
        <p><i class="fa fa-shopping-cart"></i></p>
        <p>
          <span class="content-span">
             We offer the best brands of phones in Kenya. Come, Connect with us and trust me you, you will never regret.
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="gap">
  </div>
  <br>
  <div class="overview">
    <app-overview></app-overview>
  </div>
</div>
