<div class="main">
  <div class="sub-main">
    <h2>About</h2>
    <p>
      CROMO MOBILE STRORE is a Simple MEANSTACK application, that  is,  its main areas are MongoDB,<br> Express, Angular and Nodejs.
    </p>
    <h3>Objective</h3>
    <p>The objective of the project is trying to see how we can create a fullstack web application,<br>
      thats is responsive, is functional and error free.
    </p>
    <h3>Areas of Coverage</h3>
    <h4>Frontend</h4>
    <p>I used Angular2, angular material, angular cdk, bootstrap, css and html5.</p>
    <h4>Server</h4>
    <div class="mid">
      <p>I used nodejs, express and  Mongoose. installed some middleware,</p>
      <dl>
        <h4>Middleware APIs</h4>
        <dt>cors</dt>
        <dd>
          for resourse sharing (client-server communications).
        </dd>
        <dt>
          body-parser/ Express.json()
        </dt>
        <dd>
          To work with JSON data format
        </dd>
        <dt>
          multer
        </dt>
        <dd>To handle images</dd>
        <dt>
          bcryptjs
        </dt>
        <dd>
          To salt and  hash passwords(encryption)
        </dd>
        <dt>
          jsonwebtoken
        </dt>
        <dd>
          Generating data tokens for authetification purpose.
        </dd>
        <dt>passport and passport-jwt</dt>
        <dd>To guard and protect routes.</dd>
      </dl>
    </div>
    <br>
    <h4>Key Points</h4>
    <p>I used,  cors , express.json() to work with json data format, multer to hundle images, bcryptjs to hash password,  </p>
    <h4>Database</h4>
    <p>I used mongodb.</p>
  </div>
</div>
